<html>

<% include ../blocks/head.ejs %>


<body style="padding-top: 100px;">
  <% include ../blocks/navbar.ejs %>

  <div class="container">

    <!-- <div class="page-header" id="banner">

      <div class="row"></div>
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="typography">Pytorch-Yolov3</h1>
        </div>
      </div>
    </div> -->

    <!--Programming-->
    <div class="bs-docs-section">
      <div class="col-12">
        <h3>下載SSD專案檔(Install SSD)</h3>
        <div class="bs-component" style="background-color: #303030;">
          
          <p style="background-color: #303030;padding: 5px;">$ git clone
            https://github.com/qfgaohao/pytorch-ssd.git<br>$ cd pytorch-ssd/</p>
        </div>
      </div>
    </div>





    <div class="bs-docs-section">

      <div class="col-12">
        <h3>訓練(Training)</h3>
        <div class="bs-component">
          
          <p class="mb-0">RoadDataset路徑需指向訓練資料集<br>訓練檔：<a href="/pyfiles/SSD/train.zip">點我下載</a></p>


        </div>
        （詳細訓練請參考<a href="https://github.com/qfgaohao/pytorch-ssd">github</a>）
      </div>
    </div>
    <div class="bs-docs-section">

      <div class="col-6">
        <div class="bs-component">
          <h3>測試(Testing)</h3>
          <p class="mb-0">RoadDataset路徑需指向測試資料集<br>測試檔：<a href="/pyfiles/SSD/eval.zip">點我下載</a><br>SSD已訓練參數：<a href="https://drive.google.com/file/d/1Zq0_8vEl1aGN7RovVwuN-a5UAaaSZUD9/view?usp=sharing">點我下載</a></p>

        </div>
      </div>
    </div>
  </div>
  </div>
</body>

<% include ../blocks/footer.ejs %>

</html>