<% include blocks/head.ejs %>
<body style="padding-top: 100px;">
    <% include blocks/navbar.ejs %>
  
  
    <div class="container">
  
      <div class="page-header" id="banner">
        <div class="row">
  
          <div>
          </div>
          <div class="row">
            <div class="col-lg-12" style="margin-top: 30px;">
                <h3>資料集說明<small class="text-muted">Description</small></h3>
                 <img src="/images/statistics.png" />
              </div>
            <div class="col-lg-12" style="margin-top: 30px;">
              <h3>資料集下載<small class="text-muted">Download</small></h3>
                <a href="https://drive.google.com/file/d/19zEoWqJ5HNH9sy1pzDixZNWCUNZZmpPB/view?usp=sharing">Google雲端</a>
            </div>
          </div>
        </div>
      </div>
  </body>
  <% include blocks/footer.ejs %>
