<html>

  <% include blocks/head.ejs %>

<body style="padding-top: 100px;">
  <% include blocks/navbar.ejs %>


  <div class="container">

    <div class="page-header" id="banner">
      <div class="row">

        <div>
        </div>
        <div class="row">
          
          <div class="col-lg-12" style="margin-top: 30px;">
            <!-- <h3>摘要<small class="text-muted">Abstract</small></h3> -->
              <p class="lead" style="font-family: 'Helvetica', 'Arial','LiHei Pro','黑體-繁','微軟正黑體', 'sans-serif';">　　為探討像素差異(pixel difference, PD)對於神經網路框架影響，因此提出Roadcrack Detector框架，架構圖如下所示。</p>
              <p class="lead" style="font-family: 'Helvetica', 'Arial','LiHei Pro','黑體-繁','微軟正黑體', 'sans-serif';">主要分為GMM分群及目標識別兩部份，透過用GMM的前處理，來找出對目標識別框架的影響。</p>

            </div>
          <div class="col-lg-12" style="margin-top: 30px;">
            <img height="400" width="500"  style="display:block; margin:auto;" src="/images/architecture.png" />
          </div>
        </div>
      </div>
    </div>
</body>
<% include blocks/footer.ejs %>
</html>