<html>

<% include blocks/head.ejs %>

<body style="padding-top: 100px;">
    <% include blocks/navbar.ejs %>


    <div class="container">

        <div class="page-header" id="banner">
            <div class="row">
                
                <div class="col-lg-12" style="margin-top: 30px;">
                    <h3>GMM 分群訓練檔(GMM clusering files)</h3>
                    <p class="mb-0">GMM_PD2:<a href="/pyfiles/GMM/gmm_classfication2.ipynb">點我下載</a><br>
                        GMM_PD3:<a href="/pyfiles/GMM/gmm_classfication3.ipynb">點我下載</a><br>
                        GMM_PD4:<a href="/pyfiles/GMM/gmm_classfication4.ipynb">點我下載</a><br></p>
                </div>

                <div class="col-lg-12" style="margin-top: 30px;">
                    <h3>GMM 分群結果視覺化(GMM clusering visualize files)</h3>
                    <p class="mb-0">GMM_PD2_Visualize:<a href="/pyfiles/GMM/visualization/gmm_pd2_3d_visualize.ipynb">點我下載</a><br>
                        GMM_PD3_Visualize:<a href="/pyfiles/GMM/visualization/gmm_pd3_3d_visualize.ipynb">點我下載</a><br>
                        GMM_PD4_Visualize:<a href="/pyfiles/GMM/visualization/gmm_pd4_3d_visualize.ipynb">點我下載</a><br></p>
                    <table align="center">
                        <tr>
                            <td align="center">
                                <h5>PD2</h5>
                            </td>
                            <td align="center">
                                <h5>PD3</h5>
                            </td>
                            <td align="center">
                                <h5>PD4</h5>
                            </td>
                        </tr>
                        <tr>
                            <td> <img width="300" height="300" src="/images/rotation_pd2.gif"
                                    style="display:block; margin:auto;" />
                            </td>
                            <td> <img width="300" height="300" src="/images/rotation_pd3.gif"
                                    style="display:block; margin:auto;" />
                            </td>
                            <td> <img width="300" height="300" src="/images/rotation_pd4.gif"
                                    style="display:block; margin:auto;" />
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
</body>
<% include blocks/footer.ejs %>

</html>